---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
		<title>Portfolio / Satu Hyvärinen</title>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js"></script> -->
		<script >
			import * as THREE from 'three'

			let camera, scene, renderer, stars=[]
			
			function init() {	
				camera = new THREE.PerspectiveCamera(90, window.innerWidth / window.innerHeight, 1, 1000)
				camera.position.z = 5	 
				scene = new THREE.Scene()
				renderer = new THREE.WebGLRenderer()
				renderer.setSize( window.innerWidth, window.innerHeight )
				document.body.appendChild(renderer.domElement)
			}

			function addSphere() {
				for (let z= -1000; z < 1000; z+=4) {
					let geometry   = new THREE.SphereGeometry(0.5, 15, 15)
					let material = new THREE.MeshBasicMaterial( {color: '#5D398A'} )
					let sphere = new THREE.Mesh(geometry, material)
					sphere.position.x = Math.random() * 1000 - 500
					sphere.position.y = Math.random() * 1000 - 500
					sphere.position.z = z
					sphere.scale.x = sphere.scale.y = 4
					scene.add( sphere )
					stars.push(sphere)
				}
			}

			function animateStars() { 
				for(let i=0; i<stars.length; i++) {
					let star = stars[i]
					star.position.z +=  i/40
					if(star.position.z>1000) star.position.z-=2000
				}
			}
		
			function render() {
				requestAnimationFrame(render)
				renderer.render(scene, camera)
				animateStars()
			}

			function onWindowResize() {
				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();
				renderer.setSize(window.innerWidth, window.innerHeight);
			}
			addEventListener('resize', (event) => onWindowResize());
			
			init()
			addSphere()
			render()
		</script>

		<style>
			body {
				width: 100vw;
				height: 100vh;
				margin: 0;
				background:  #210B54;
				overflow: hidden;
				font-family: Roboto Condensed;
			}

			.star_warp {
				position: absolute;
				margin: 0;
				top: 40%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			.title {
				text-align: center;
				font-size: 5em;
  				color: #9966CC;
			}

			.subtitle {
				text-align: center;
				font-size: 2em;
  				color: #9966CC;
			}

			.link_button {
				display:inline-block;
				text-decoration: none;
				color: #E0B0FF;
				background-color: #6A0DAD;
				border-radius: 0.5em;
				padding: 0.7em;
				margin: 0.5em;
			}

			.link_button:hover {
				color:  #210B54;
				background-color: #E0B0FF;
			}

			.centered_container {
				display: flex;
				flex-direction: row;
				justify-content: center;
				margin: 0 auto 0 auto;
			}

		</style>
	</head>
	<body>
		<div class="star_warp" >
			<h1 class="title">Hi, I'm Satu</h1>
			<h3 class="subtitle">a software developer</h3>
			<div class="centered_container">
				<a class="link_button" href="./pages/hobbyProjects.html">
					HOBBY PROJECTS
				</a>
			</div>
		</div>
	</body>
</html>
