---
import '../styles/home-page.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
		<title>Portfolio / Satu Hyvärinen</title>
		<script src="../scripts/space-warp.js"></script>

	</head>
	<body>
		<div class="star_warp" >
			<h1 class="title">Hi, I'm Satu</h1>
			<h3 class="subtitle">a software developer</h3>
			<div class="centered_container">
				<a class="link_button" href="./hobby-projects">
					HOBBY PROJECTS
				</a>
			</div>
		</div>
	</body>
</html>
